<header class="float-navigation">
    <nav>
        <ul class="main">
            <!-- Logo -->
            <li class="item-menu">
                <a href="/" class="content-item-menu" title="Go back Home">
                    <img src="../assets/icons/home-icon.svg" alt="Go back Home" width="24" height="24" />
                </a>
            </li>

            <!-- Search -->
            <li class="item-menu has-submenu">
                <button class="content-item-menu" title="Search Pokémon">
                    <img src="../assets/icons/search-icon.svg" alt="Search" width="24" height="24" loading="lazy" />
                </button>
                <div class="sub-item">
                    <div class="content-sub-item">
                        <form class="search-form">
                            <input type="text" id="search" placeholder="Search by name or number..." required />
                            <button type="submit">
                                <img src="../assets/icons/pokeball-icon.webp" width="50" height="50" alt="Search"
                                    loading="lazy" />
                            </button>
                        </form>
                    </div>
                </div>
            </li>

            <!-- Pokémon Refine -->
            <li class="item-menu has-submenu">
                <button class="content-item-menu" title="Find anything about a Pokémon">
                    <img src="../assets/icons/pokeball-minimalist-icon.svg" alt="Find Pokémon" width="24" height="24"
                        loading="lazy" />
                </button>
                <div class="sub-item">
                    <div class="content-sub-item">
                        <ul class="level-1">
                            <li class="item-level-1 sub-itens">
                                <span>Types</span>
                                <ul class="level-2" data-recebe="types">
                                    <li>
                                        <div class="content-list"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="item-level-1 sub-itens">
                                <span>Regions</span>
                                <ul class="level-2" data-recebe="regions">
                                    <li>
                                        <div class="content-list"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- Random Pokémon -->
            <li class="item-menu">
                <button class="content-item-menu" title="Surprise me!" id="random-btn">
                    <img src="../assets/icons/dice-icon.svg" alt="Surprise me!" width="24" height="24" loading="lazy" />
                </button>
            </li>

            <!-- Theme Switch -->
            <li class="item-menu">
                <button class="content-item-menu" title="Switch theme" id="toggle-dark">
                    <img src="../assets/icons/theme-switch-icon.svg" alt="Switch theme" width="24" height="24"
                        loading="lazy" />
                </button>
            </li>

            <!-- About Me -->
            <li class="item-menu has-submenu">
                <button class="content-item-menu" title="About me">
                    <img src="../assets/icons/me-icon.webp" alt="About me" width="41" height="41" loading="lazy" />
                </button>
                <div class="sub-item">
                    <div class="content-sub-item">
                        <ul class="level-1">

                            <li class="item-level-1 sub-itens">
                                <span>Contact me</span>
                                <ul class="level-2">
                                    <div class="content-list">
                                        <li class="item-level-2">
                                            <a href="https://wa.me/+5534996929899" target="_blank">
                                                <i class="icon-contact"><img src="../assets/icons/whatsapp-icon.svg"
                                                        width="24" height="24" /></i>
                                                <span>WhatsApp</span>
                                            </a>
                                        </li>
                                        <li class="item-level-2">
                                            <a href="https://www.instagram.com/tomaz_dev/" target="_blank">
                                                <i class="icon-contact"><img src="../assets/icons/instagram-icon.svg"
                                                        width="24" height="24" /></i>
                                                <span>Instagram</span>
                                            </a>
                                        </li>
                                        <li class="item-level-2">
                                            <a href="mailto:pedrotomazdev@gmail.com" target="_blank">
                                                <i class="icon-contact"><img src="../assets/icons/gmail-icon.svg"
                                                        width="24" height="24" /></i>
                                                <span>Gmail</span>
                                            </a>
                                        </li>
                                        <li class="item-level-2">
                                            <a href="/about-me" title="See more about me and my skills and projects">
                                                <i class="icon-contact">
                                                    <img src="../assets/icons/me-icon.webp" width="24"
                                                        height="24" /></i>
                                                <span>About me</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>