<header class="float-navigation">
    <nav>
        <ul class="main">
            <li class="item-menu logo-menu">
                <a href="/" title="Go back Home" class="content-item-menu">
                    <i>
                        <img src="/assets/icons/logo.svg" alt="Nenzadex V2" width="50" height="50" />
                    </i>
                </a>
            </li>

            <li class="item-menu search-content">
                <div class="content-item-menu" title="Search Pokémon by name or number" role="button" tabindex="0"
                    aria-label="Search">
                    <i>
                        <img src="../assets/icons/search-icon.svg" alt="Search" width="24" height="24" loading="lazy" />
                    </i>
                    <div class="sub-item">
                        <div class="content-sub-item">
                            <form action="" class="search-form">
                                <input type="text" id="search" placeholder="Search by name or number..." required />
                                <button type="submit">
                                    <img src="../assets/icons/pokeball-icon.webp" width="50" height="50" alt="Search"
                                        loading="lazy" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>

            <li class="item-menu pokemon-refine">
                <div class="content-item-menu" title="Find anything about a Pokémon" role="button" tabindex="0"
                    aria-label="Pokémon data refine">
                    <i>
                        <img src="../assets/icons/pokeball-minimalist-icon.svg" alt="Find anything about a Pokémon"
                            width="24" height="24" loading="lazy" />
                    </i>

                    <div class="sub-item">
                        <div class="content-sub-item">
                            <ul class="level-1">
                                <li class="item-level-1 sub-itens">
                                    <span>Types</span>
                                    <ul class="level-2" data-recebe="types">
                                        <li>
                                            <div class="content-list"></div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="item-level-1 sub-itens">
                                    <span>Regions</span>
                                    <ul class="level-2" data-recebe="regions">
                                        <li>
                                            <div class="content-list"></div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="item-menu dice-random" id="random-btn">
                <div class="content-item-menu" title="Surprise me!" role="button" tabindex="0"
                    aria-label="Random Pokémon">
                    <i>
                        <img src="../assets/icons/dice-icon.svg" alt="Surprise me!" width="24" height="24"
                            loading="lazy" />
                    </i>
                </div>
            </li>

            <li class="item-menu switch-theme" id="toggle-dark">
                <div class="content-item-menu" title="Switch theme mode" role="button" tabindex="0"
                    aria-label="Toggle dark/light mode">
                    <i>
                        <img src="../assets/icons/theme-switch-icon.svg" alt="Switch theme mode" width="24" height="24"
                            loading="lazy" />
                    </i>
                </div>
            </li>

            <li class="item-menu about-me">
                <div class="content-item-menu" title="See more about me :D" role="button" tabindex="0"
                    aria-label="About me">
                    <i>
                        <img src="../assets/icons/me-icon.webp" alt="See more about me :D" width="24" height="24"
                            loading="lazy" />
                    </i>

                    <div class="sub-item">
                        <div class="content-sub-item">
                            <ul class="level-1">
                                <li class="item-level-1">
                                    <a href="../about-me">About me</a>
                                </li>
                                <li class="item-level-1 sub-itens">
                                    <span>Contact me</span>
                                    <ul class="level-2">
                                        <div class="content-list">
                                            <li class="item-level-2">
                                                <a href="https://wa.me/+5534996929899?text=Ol%C3%A1%2C%20vi%20seu%20trabalho%20e%20gostaria%20de%20conversar%20sobre%20uma%20oportunidade%20na%20minha%20equipe%20%F0%9F%A4%9D"
                                                    target="_blank" rel="noopener noreferrer"
                                                    title="Contact me on WhatsApp">
                                                    <i class="icon-contact">
                                                        <img src="../assets/icons/whatsapp-icon.svg"
                                                            alt="Contact me on WhatsApp" width="24" height="24"
                                                            loading="lazy" />
                                                    </i>
                                                    <span>WhatsApp</span>
                                                </a>
                                            </li>
                                            <li class="item-level-2">
                                                <a href="https://www.instagram.com/tomaz_dev/" target="_blank"
                                                    rel="noopener noreferrer" title="Follow me on Instagram">
                                                    <i class="icon-contact">
                                                        <img src="../assets/icons/instagram-icon.svg"
                                                            alt="Follow me on Instagram" width="24" height="24"
                                                            loading="lazy" />
                                                    </i>
                                                    <span>Instagram</span>
                                                </a>
                                            </li>
                                            <li class="item-level-2">
                                                <a href="mailto:pedrotomazdev@gmail.com" target="_blank"
                                                    rel="noopener noreferrer" title="Contact me on Gmail">
                                                    <i class="icon-contact">
                                                        <img src="../assets/icons/gmail-icon.svg"
                                                            alt="Contact me on Gmail" width="24" height="24"
                                                            loading="lazy" />
                                                    </i>
                                                    <span>Gmail</span>
                                                </a>
                                            </li>
                                        </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </nav>
</header>