// Cores elaboradas para os tipos de Pokémon
// Baseado em gradientes e cores sólidas
$typeColors: (
    "grass": linear-gradient(to right, #56ab2f, #a8e063),
    "fire": linear-gradient(to left, #ff4e50, #f9d423),
    "water": linear-gradient(to right, #2193b0, #6dd5ed),
    "bug": linear-gradient(to left, #a8e063, #56ab2f),
    "normal": linear-gradient(to right, #d7d2cc, #b0bec5),
    "steel": linear-gradient(to left, #bdc3c7, #2c3e50),
    "poison": linear-gradient(to right, #a044ff, #6a3093),
    "ground": linear-gradient(to left, #bc8f63, #dfa579),
    "fighting": linear-gradient(to right, #cb2d3e, #ef473a),
    "rock": linear-gradient(to left, #bfa755, #decba4),
    "electric": linear-gradient(to right, #f7971e, #ffd200),
    "ghost": linear-gradient(to left, #360033, #0b8793),
    "psychic": linear-gradient(to right, #ff6a00, #ee0979),
    "ice": linear-gradient(to left, #74ebd5, #9face6),
    "dragon": linear-gradient(to right, #20002c, #5c6bc0),
    "fairy": linear-gradient(to left, #ff9a9e, #fad0c4),
    "dark": linear-gradient(to right, #0e0f0f, #3e464b),
    "flying": linear-gradient(to left, #89f7fe, #66a6ff),
    "shiny" : linear-gradient(135deg, #fff8c6 0%, #f2c94c 20%, #d4af37 40%, #f2c94c 60%, #b8860b 80%, #fff8c6 100%)
);

$typeJustColors: (
    "grass": (#56ab2f, #a8e063, #56ab2f),
    "fire": (#ff4e50, #f9d423, #ff4e50),
    "water": (#2193b0, #6dd5ed, #2193b0),
    "bug": (#a8e063, #56ab2f, #a8e063),
    "normal": (#d7d2cc, #b0bec5, #d7d2cc),
    "steel": (#bdc3c7, #2c3e50, #bdc3c7),
    "poison": (#a044ff, #6a3093, #a044ff),
    "ground": (#bc8f63, #dfa579, #c79081),
    "fighting": (#cb2d3e, #ef473a, #cb2d3e),
    "rock": (#bfa755, #decba4, #3e5151),
    "electric": (#f7971e, #ffd200, #f7971e),
    "ghost": (#360033, #0b8793, #360033),
    "psychic": (#ff6a00, #ee0979, #ff6a00),
    "ice": (#74ebd5, #9face6, #74ebd5),
    "dragon": (#20002c, #5c6bc0, #20002c),
    "fairy": (#ff9a9e, #fad0c4, #ff9a9e),
    "dark": (#0e0f0f, #3e464b, #0e0f0f),
    "flying": (#89f7fe, #66a6ff, #89f7fe)
);

// Cores sólidas para os tipos de Pokémon
// Essas cores são usadas para destacar os tipos de Pokémon em elementos como botões e cards
$mainColorTypes: (
    "grass": #7ec850,
    "fire": #ff7043,
    "water": #42a5f5,
    "bug": #a2bf4c,
    "normal": #b0bec5,
    "steel": #90a4ae,
    "poison": #ab47bc,
    "ground": #bc8f63,
    "fighting": #e53935,
    "rock": #bfa755,
    "electric": #ffd600,
    "ghost": #7e57c2,
    "psychic": #ec407a,
    "ice": #4dd0e1,
    "dragon": #5c6bc0,
    "fairy": #f48fb1,
    "dark": #37474f,
    "flying": #81d4fa,
    "stellar": #ccc,
    "unknown": #2a2a2a,
);

// Fontes principais usadas no site
$mainFont: 'Exo 2', sans-serif;

// ===== BREAKPOINTS =====
$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1200px
);


// SPACING
$space-values: (
    0: 0rem,
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem,
    5: 3rem
);