html {
    &:root {
        --bg-color: #f1f1f1;
        --text-color: #333;
        --text-invert-color: #fff;
        --inveter-bg: #fff;
        --inverter-mini-card: #f8f9fa;
        --bg-glass: rgba(255, 255, 255, 0.2);
        --border-color: #2a2a2a;
        --filter: invert(0);
        --filter-dark-image: invert(0);
        --filter-hover: invert(1);
        --icon-audio : url(../../assets/icons/audio-dark-icon.svg);
    }

    &.dark-mode {
        --bg-color: #2a2a2a;
        --text-color: #fff;
        --text-invert-color: #333;
        --inveter-bg: #222222;
        --inverter-mini-card: #000;
        --bg-glass: rgba(0, 0, 0, 0.2);
        --border-color: #f1f1f1;
        --filter: invert(0.8);
        --filter-dark-image: invert(1);
        --filter-hover: invert(0);
        --icon-audio : url(../../assets/icons/audio-white-icon.svg);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;



    &::before,
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        pointer-events: none;
    }

    &::before {
        background: url('../../assets/images/background/bg-poke.webp');
    }

    &::after {
        background: linear-gradient(0deg, #a900d6, #00b59c, #a900d6);
        background-size: 600% 600%;
        animation: gradientShift 10s ease-in-out infinite;
        mix-blend-mode: soft-light;
        opacity: 0.8;
    }

    // &.dark-mode {
    //     background: linear-gradient(0deg, #000, #ccc, #000);



    //     &::after {
    //         background: linear-gradient(0deg, #000, #ccc, #000);
    //         background-size: 600% 600%;
    //         animation: gradientShift 10s ease-in-out infinite;
    //         mix-blend-mode: soft-light;
    //         opacity: 0.8;

    //     }

    // }
}


@each $type, $color in $typeJustColors {
    body.type-#{$type} {
        background: linear-gradient(0deg, $color);
        animation: gradientShift 10s ease-in-out infinite;
        background-size: 600% 600%;

    }
}

@keyframes gradientShift {
    0% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 50% 100%;
    }
}

@keyframes bounceFromTop {
    0% {
        transform: translate(-50%, -50%);
    }

    10% {
        transform: translate(-50%, -30px);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}